.login-button, .signup-button, .logout-button {
    background-color: #e11d48; 
    color: white; 
    border: none;
    padding: 12px 20px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .login-button:hover, .signup-button:hover, .logout-button:hover {
    background-color: #8d132d;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 15px; 
  }
  